body{
    color: black !important;
    font-family: "IBM Plex Mono" !important;
    font-size: 58px;
    font-weight: 700;
}

.navbar .nav-link {
    font-family: "IBM Plex Mono" !important;
    font-weight: 700 !important;
    color: black !important;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
}