body{
    color: black !important;
    font-family: "IBM Plex Mono" !important;
    font-size: 58px;
    font-weight: 700;
}

h1{
    color: black !important;
    font-family: "IBM Plex Mono" !important;
    font-size: 50px;
    font-weight: 700;
}

.navbar{
    border: none;
}

.navbar .nav-link {
    font-family: "IBM Plex Mono" !important;
    font-weight: 700 !important;
    color: black !important;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
}

.text-secondary{
    color: rgb(42, 41, 41);
}

.new-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 50px;;
}